* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(img/sfondo.png);
}
header {
  width: 1200px;
  height: 400px;
  margin: auto;
  background-color: white;
}
.copertina{
  height: 355px;
  padding: 15px;
}
.copertina-img {
  height: 100%;
  background-image: url(img/copertina.png);
  text-align: center;
}
.titoloImg{
  height: 75%;
}
.sottotitolo{
  color: white;
  font-size: 30px
}
nav {
  width: 1200px;
  height: 45px;
}
nav > ul {
  width: 100%;
  text-align: center;
  background-color: gray;
}
nav > ul > li {
  margin: auto;
  display: inline-block;
  padding: 0 20px;
  font-size: 25px;
  line-height: 45px;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-variant: small-caps;
}
.container {
  width: 1200px;
  margin:  auto;
  margin: 15px auto 15px;
}
.colonna {
  height: 1308px;
}
.uno {
  width: 18%;
}
.due{
  width: 55%;
  margin: 0 54px 0 54px;
}
.tre{
  width: 18%;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-1 {
 float: left;
}
.box{
  border-radius: 3%;
  background-color: white;
}
.box1 {
  height: 450px;
}
.box2 {
  height: 375px;
}
.box3 {
  height: 400px;
}
.box4 {
  height: 400px;
  margin:54px 0 54px 0;
}
.box5 {
  height: 400px;
}
footer{
  width: 1200px;
  height: 150px;
  margin: auto;
  border-radius: 3%;
  color: gray;
  background-color: white;
}
.poweredBy {
  font-size: 20px;
  border-bottom: 1px solid black;
  text-align: center;
}
.imgContatti{
  text-align: center;
  background-image: url(img/instagram-logo.jpg);
  background-image: url(img/facebook-logo.jpg);
  background-image: url(img/github-logo.jpg);
}
.elemento{
  width: 100%;
  font-size: 30px;
  margin-bottom: 7px;
}
.titolo {
float: right;
width: 80%;
}
.titolo1{
float: left;
width: 20%;
}
ul {
  list-style: none;
}
ul > li {
  font-size: 19px;
  margin: 7px 5px;
  color: green;
}
.element1{
  height: 25%;
  font-size: 30px;
  color: gray;
}
.element1 > span {
  padding: 15px;
  line-height: 100px;
}
.element2{
  font-size: 23px;
  padding: 20px;
}
