* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 1200px;
  height: 400px;
  background-color: yellow;
  margin: auto;
}
.copertina{
  height: 354px;
  background-color: red;
}
.container {
  width: 1200px;
  margin:  auto;
  margin: 15px auto 15px;
  position: relative;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-1 {
 float: left;
}
.box1 {
  height: 450px;
  background-color: red;
  width: 18%;
}
.box2 {
  height: 900px;
  background-color: green;
  width: 55%;
  margin: 0 54px 0 54px;
}
.box3 {
  height: 400px;
  background-color: yellow;
  width: 18%;
}
.box4 {
  height: 400px;
  background-color: yellow;
  margin-top:54px;
  width: 18%;
  float: right;
}
.box5 {
  height: 400px;
  background-color: yellow;
  margin:54px 0 54px 0;
  width: 18%;
  float: right;

}
footer{
  width: 1200px;
  height: 125px;
  background-color: #74bbfb;
  margin: auto;
}
